<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.dzh.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.gd.dzh.domain.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomnum" jdbcType="VARCHAR" property="roomnum" />
    <result column="roomstatus" jdbcType="INTEGER" property="roomstatus" />
    <result column="roomprice" jdbcType="INTEGER" property="roomprice" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="roomtype" jdbcType="INTEGER" property="roomtype" />
    <result column="ext01" jdbcType="VARCHAR" property="ext01" />
    <result column="ext02" jdbcType="VARCHAR" property="ext02" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, roomnum, roomstatus, roomprice, isdelete, roomtype, ext01, ext02
  </sql>
  <select id="selectByExample" parameterType="com.gd.dzh.domain.RoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gd.dzh.domain.RoomExample">
    delete from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gd.dzh.domain.Room">
    insert into room (id, roomnum, roomstatus, 
      roomprice, isdelete, roomtype, 
      ext01, ext02)
    values (#{id,jdbcType=INTEGER}, #{roomnum,jdbcType=VARCHAR}, #{roomstatus,jdbcType=INTEGER}, 
      #{roomprice,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, #{roomtype,jdbcType=INTEGER}, 
      #{ext01,jdbcType=VARCHAR}, #{ext02,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gd.dzh.domain.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomnum != null">
        roomnum,
      </if>
      <if test="roomstatus != null">
        roomstatus,
      </if>
      <if test="roomprice != null">
        roomprice,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="roomtype != null">
        roomtype,
      </if>
      <if test="ext01 != null">
        ext01,
      </if>
      <if test="ext02 != null">
        ext02,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomnum != null">
        #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomstatus != null">
        #{roomstatus,jdbcType=INTEGER},
      </if>
      <if test="roomprice != null">
        #{roomprice,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="ext01 != null">
        #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null">
        #{ext02,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gd.dzh.domain.RoomExample" resultType="java.lang.Long">
    select count(*) from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomnum != null">
        roomnum = #{record.roomnum,jdbcType=VARCHAR},
      </if>
      <if test="record.roomstatus != null">
        roomstatus = #{record.roomstatus,jdbcType=INTEGER},
      </if>
      <if test="record.roomprice != null">
        roomprice = #{record.roomprice,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null">
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.roomtype != null">
        roomtype = #{record.roomtype,jdbcType=INTEGER},
      </if>
      <if test="record.ext01 != null">
        ext01 = #{record.ext01,jdbcType=VARCHAR},
      </if>
      <if test="record.ext02 != null">
        ext02 = #{record.ext02,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room
    set id = #{record.id,jdbcType=INTEGER},
      roomnum = #{record.roomnum,jdbcType=VARCHAR},
      roomstatus = #{record.roomstatus,jdbcType=INTEGER},
      roomprice = #{record.roomprice,jdbcType=INTEGER},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      roomtype = #{record.roomtype,jdbcType=INTEGER},
      ext01 = #{record.ext01,jdbcType=VARCHAR},
      ext02 = #{record.ext02,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gd.dzh.domain.Room">
    update room
    <set>
      <if test="roomnum != null">
        roomnum = #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomstatus != null">
        roomstatus = #{roomstatus,jdbcType=INTEGER},
      </if>
      <if test="roomprice != null">
        roomprice = #{roomprice,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="roomtype != null">
        roomtype = #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="ext01 != null">
        ext01 = #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null">
        ext02 = #{ext02,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gd.dzh.domain.Room">
    update room
    set roomnum = #{roomnum,jdbcType=VARCHAR},
      roomstatus = #{roomstatus,jdbcType=INTEGER},
      roomprice = #{roomprice,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      roomtype = #{roomtype,jdbcType=INTEGER},
      ext01 = #{ext01,jdbcType=VARCHAR},
      ext02 = #{ext02,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>